<h2 class="mb-4">Expenses</h2>

<mat-form-field appearance="outline">
  <mat-label>Filter by Category</mat-label>

  <mat-select [ngModel]="selectedCategory()" (ngModelChange)="selectedCategory.set($event)">
    <mat-option value="All">All</mat-option>
    <mat-option value="Work">Work</mat-option>
    <mat-option value="Personal">Personal</mat-option>
    <mat-option value="Grocery">Grocery</mat-option>
    <mat-option value="Utilities">Utilities</mat-option>
    <mat-option value="Shopping">Shopping</mat-option>
    <mat-option value="Travel">Travel</mat-option>
    <mat-option value="Food">Food</mat-option>
  </mat-select>
</mat-form-field>

@for (expense of expenses(); track expense.id) {
  <app-expense-item [expense]="expense" (delete)="deleteExpense($event)"> </app-expense-item>
}
