<mat-card class="expense-card">
  <mat-card-title>{{ expense.title }}</mat-card-title>

  <mat-card-content>
    <p>Amount: ${{ +expense.amount | number: '1.2-2' }}</p>
    <p>Type: {{ expense.type }}</p>
    <p>Category: {{ expense.category }}</p>
    <p>Date: {{ expense.date }}</p>
    <p>Notes: {{ expense.notes }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteExpense()">Delete</button>

    <a mat-raised-button color="accent" [routerLink]="['/edit', expense.id]"> Edit </a>
  </mat-card-actions>
</mat-card>
